@import url("variables.css");
@import url("elements.css");
@import url("classes.css");
@import url("header.css");

.home-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-text, .home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-img img {
    max-width: 100%;
    height: auto;
}

.intro-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.top3-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.top3-heading {
    margin-bottom: 1rem;
}

.top3-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.grid h3::before {
    position: relative;
    top: 3rem;
    display: inline-block;
    counter-increment: grid-counter;
    content: counter(grid-counter);
    transform: rotate(5deg);
    font-style: italic;
    font-size: 9rem;
    margin-right: .25em;
}

